
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/textarea.scss";

@import "~taro-ui/dist/style/components/button.scss";

html{
  font-size: medium !important;
}

.col{
  display: flex;
  flex-direction: column;
  //border: dashed blue;
}
.row{
  display: flex;
  //border: dashed red;
}
.aictr{
  align-items: center;
}
.jcctr{
  justify-content: center;
}
.wrap{ flex-wrap: wrap; }
.scr{ overflow: scroll; }

.f1{ flex: 1; }
.f2{ flex: 2; }
.f3{ flex: 3; }

.h30v{ height: 30vh }

.img1{
  height: 100%;
  text-align: center;
}

.t1{
  color: blue;
  font-size: large;
  margin: 5px 20px;
}
.t2{
  color: red;
  font-size: medium;
  margin: 5px 20px;
}
.t3{
  color: gray;
  font-size: small;
  margin: 5px 20px;
}

.in1 input{
  background-color: aqua;
  font-size: larger;
  padding: 20px 40px;
  border-radius: 50px;
  width: 90%;
}

.card1{
  margin: 20px 0px;
  background-color: aliceblue;
}

.at-button{
  margin: 10px;
  background-color: blue;
  color: white;
}
