
{% extends 'components/header.html' %}
{% block content %}
  
  <form method="POST">
    {% csrf_token %}
    <h5>Pick a date to generate and upload the POS reports:</h5>
    <input name="date" type="text" class="datepicker">
    <div class="row">
      <div class="f1"></div>
      <button class="waves-effect waves-light btn" type="submit">go</button>
    </div>
  </form>

  <h5>Log:</h5>
  <pre class="log">
    {{ log }}
  </pre>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.datepicker');
      var instances = M.Datepicker.init(elems, {format: 'yyyy/mm/dd'});
    });
  </script>
  
{% endblock %}