<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">   
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% extends 'header.html' %}
{% block content %}
  <div class="col f1">
    <div class="col f1" style="align-self: center;">
      <form method="POST" class="col f1">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="col f1 end">
          <button class="mdc-button mdc-button--raised" type="submit">
            <span class="mdc-button__label">Sign In</span>
          </button>
        </div>
      </form>
      <a href="/signUp">Sign Up</a>
    </div>
  </div>
{% endblock %}