<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
      .image-logo{
        height: 40px; border-radius: 10px; 
        margin: 10px 20px;
      }
      .f1{
        flex: 1;
      }
      .row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      ::-webkit-scrollbar{ width: 3px; height: 6px; }
      ::-webkit-scrollbar-thumb{ background: skyblue; }
    </style>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo"><img class="image-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Elon_Musk_2015.jpg/150px-Elon_Musk_2015.jpg"></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% include 'components/navBarLinks.html' %}
          </ul>
        </div>
        <!--div class="nav-content">
          <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#test1" class="active">Test 1</a></li>
            <li class="tab"><a href="#test2">Test 2</a></li>
            <li class="tab"><a href="#test3">Test 3</a></li>
            <li class="tab"><a href="#test4">Test 4</a></li>
          </ul>
        </div-->
      </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
      {% include './navBarLinks.html' %}
    </ul>

    <!--div id="test1" class="col s12">Test 1</div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div-->   
    <div class="container">
      {% block content %}
      {% endblock %} 
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success'%}
        <script>M.toast({html: "{{message}}", classes: 'green', displayLength:2000});</script>
      {% elif message.tags == 'info'%}
        <script>M.toast({html: "{{message}}", classes: 'blue', displayLength:2000});</script>
      {% elif message.tags == 'warning'%}
        <script>M.toast({html: "{{message}}", classes: 'orange', displayLength:10000});</script>
      {% elif message.tags == 'error'%}
        <script>M.toast({html: "{{message}}", classes: 'red', displayLength:10000});</script>
      {% endif %}
    {% endfor %}
  {% endif %}
  <script>
    var tabs = M.Tabs.init(document.querySelector('.tabs'), {swipeable: true})
    var sideNav = new M.Sidenav(document.querySelector('.sidenav'))
  </script>
</html>